.home 
  &__hero
    height: 70vh
    img 
      object-fit: cover
      width: 100%
      height: 100%
  &__intro
    height: 500px
  &__featured_products
    @include wrapper
    h2 
      text-align: center
      &::after
        content: ""
        background: $secondary_color
        width: 100%
        height: 1px
        display: inline-block